node_modules
.next
.git
.gitignore
.env
.env.local
.env.prod
.env*.local
*.log
.DS_Store
.vscode
.idea
next-env.d.ts
README.md
docker-compose.*.yml
.dockerignore
prisma/dev.db*
prisma/migrations/dev.db*
coverage
node_modules/
.next/
out/
build/
dist/