# Database
DATABASE_URL="postgresql://finanzas:finanzas@localhost:5433/finanzas?schema=public"

# NextAuth
NEXTAUTH_SECRET="cambia-esto-con-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Seed del primer admin (solo se usa la primera vez)
ADMIN_EMAIL="admin@finanzas.local"
ADMIN_PASSWORD="Admin123!"
ADMIN_NAME="Administrador"